<div class="dashboard-container">
    <nav class="sidebar">
      <div class="profile" (click)="goToProfile()">
        <img class="profile-pic" src="assets/icons/admin-profile.svg" alt="Admin Profile">
        <span class="profile-name">Admin</span>
      </div>
  
      <div class="menu-container">
        <ul>

          <li><a (click)="goToDashboard()"><img class="sidebar-icon" src="assets/icons/dashboard-icon.png">Dashboard</a></li>
          <li><a (click)="goToSearchUsers()"><img class="sidebar-icon" src="assets/icons/users-icon.png">Usuarios</a></li>
          <li><a (click)="goToRecipes()"><img class="sidebar-icon" src="assets/icons/recipes-icon.png">Recetas</a></li>
          <li><a (click)="goToComments()"><img class="sidebar-icon" src="assets/icons/administration-icon.png">Administración</a></li>
          <li><a (click)="logout()"><img class="sidebar-icon" src="assets/icons/help-icon.png">Cerrar Sesión</a></li>
        </ul>
      </div>
  
      <div class="version-info">
        <p>KitchenMate</p> 
        <p>Versión 1.0.0.11</p>
      </div>
    </nav>
  
    <main class="content">

  
      <!-- Aquí empieza la sección específica de la búsqueda de usuarios -->
      <div class="search-users-container">
        <!-- Caja de búsqueda estilo card, igual que recetas -->
        <div class="search-box">
          <h3>Búsqueda de usuarios</h3>
          <form #searchForm="ngForm" (ngSubmit)="searchUsers()">
            <div class="input-group">
              <label for="firstName">Nombre</label>
              <input id="firstName" name="firstName" type="text" placeholder="Andrew" [(ngModel)]="firstNameSearch">
            </div>
            <div class="input-group">
              <label for="lastName">Apellido</label>
              <input id="lastName" name="lastName" type="text" placeholder="Salgado" [(ngModel)]="lastNameSearch">
            </div>
            <div class="input-group">
              <label for="email">Correo electrónico</label>
              <input id="email" name="email" type="email" placeholder="ejemplo@mail.com" [(ngModel)]="emailSearch">
            </div>
            <div class="input-group">
              <label for="accountStatus">Estado de la Cuenta</label>
              <select id="accountStatus" name="accountStatus" [(ngModel)]="accountStatusSearch">
                <option value="active">active</option>
                <option value="inactive">inactive</option>
              </select>
            </div>
            <div class="input-group">
              <label for="allergyName">Alergias</label>
              <select id="allergyName" name="allergyName" [(ngModel)]="allergyNameSearch">
                <option *ngFor="let ingredient of ingredients" [value]="ingredient.name">
                  {{ ingredient.name }}
                </option>
              </select>
            </div>
            <div class="search-buttons">
              <button class="clear-button" type="button" (click)="clearFilters()">Limpiar</button>
              <button class="search-button" type="submit">Buscar</button>
            </div>
          </form>
        </div>

                  <!-- Tabla de usuarios -->
          <div class="results-container" *ngIf="foundProfiles && foundProfiles.length > 0">
            <h2>Resultados de búsqueda</h2>
            <h3>Encontrados: {{ foundProfiles.length }}</h3>

            <table *ngIf="foundProfiles.length > 0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre Completo</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let profile of foundProfiles">
                  <td>{{ profile.keycloak_user_id }}</td>
                  <td>{{ profile.first_name }} {{ profile.last_name }}</td>
                  <td>{{ profile.email }}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </main>
  </div>
  