<div class="dashboard-container">
    <nav class="sidebar">
        <div class="profile" (click)="goToProfile()">
          <img class="profile-pic" src="assets/icons/admin-profile.svg" alt="Admin Profile">
          <span class="profile-name">Admin</span>
        </div>

      <div class="menu-container">  
      <ul>
        <li><a (click)="goToDashboard()"><img class="sidebar-icon" src="/assets/icons/dashboard-icon.png" alt="Dashboard">Dashboard</a></li>
        <li><a (click)="goToSearchUsers()"><img class="sidebar-icon" src="assets/icons/users-icon.png">Usuarios</a></li>
        <li><a (click)="goToRecipes()"><img class="sidebar-icon" src="assets/icons/recipes-icon.png">Recetas</a></li>
        <li><a (click)="goToComments()"><img class="sidebar-icon" src="assets/icons/administration-icon.png">Administración</a></li>
        <li><a (click)="logout()"><img class="sidebar-icon" src="assets/icons/help-icon.png">Cerrar Sesión</a></li>
      </ul>
      </div>

      <div class="version-info">
        <p>KitchenMate</p> 
        <p>Versión 1.0.0.11</p>
      </div>
    </nav>
  
    <main class="content">
        <!-- Barra superior con búsqueda y foto de perfil -->
        <div class="top-bar">         
            <!-- Barra de búsqueda -->
            <input class="search-bar" type="text" placeholder="Búsqueda rápida">
        </div>
  

        <!-- Contenido principal -->  
 <!-- Cuadros del Dashboard -->
<div class="dashboard-cards">
    <div class="card">
      <h3>Datos importantes</h3>
      <div class="card-content">
        <p>Aquí se mostrarán los gráficos de datos importantes.</p>
      </div>
    </div>
  
    <div class="card">
      <h3>Estadísticas</h3>
      <div class="card-content">
        <p>Aquí se mostrarán las estadísticas.</p>
      </div>
    </div>
  
    <div class="card">
      <h3>Comportamientos inusuales</h3>
      <div class="card-content">
        <p>Aquí se mostrarán los comportamientos inusuales.</p>
      </div>
    </div>
  
    <div class="card">
      <h3>Estado del sistema</h3>
      <div class="card-content">
        <p>Aquí se mostrará el estado del sistema.</p>
      </div>
    </div>
  </div>
  
    </main>
  </div>
  