<div class="campaign-search-container">
  <nav class="sidebar">
    <div class="profile" (click)="goToProfile()">
      <img class="profile-pic" src="assets/icons/admin-profile.svg" alt="Admin Profile">
      <span class="profile-name">Moderator</span>
    </div>

    <div class="menu-container">
      <ul>
        <li><a (click)="goToCampaignSearch()"><img class="sidebar-icon" src="assets/icons/dashboard-icon.png">Campañas</a></li>
        <li><a (click)="goToReports()"><img class="sidebar-icon" src="assets/icons/administration-icon.png">Reportes</a></li>
        <li><a (click)="goToPayments()"><img class="sidebar-icon" src="assets/icons/recipes-icon.png">Gestión de Pagos</a></li>
        <li><a (click)="logout()"><img class="sidebar-icon" src="assets/icons/help-icon.png">Cerrar Sesión</a></li>
      </ul>
    </div>

    <div class="version-info">
      <p>KitchenMate</p> 
      <p>Versión 1.0.0.11</p>
    </div>
  </nav>

  <main class="content">
    <div class="top-bar">
      <input class="search-bar" type="text" placeholder="Búsqueda rápida">
    </div>

    <!-- Estadísticas de usuarios -->
    <div class="campaign-stats-table-container">
      <div class="campaign-stats-table">
        <h3>Lista de Campañas</h3>
        <table>
          <thead>
            <tr>
              <th>Total</th>  
              <th>Activas</th>
              <th>Finalizadas</th>
              <th>Pendientes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>56</td>
              <td>31</td>
              <td>23</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Contenedor de filtros -->
    <div class="filter-container">
      <h2>Filtros</h2>
      <div class="search-filters">
        <div class="filter-item">
          <label for="name">Nombre de la Campaña</label>
          <input id="name" type="text" placeholder="Buscar...">
        </div>

        <div class="filter-item">
          <label for="search">Búsqueda Avanzada</label>
          <input id="search" type="text" placeholder="Buscar...">
        </div>

        <div class="filter-item">
          <label for="type">Tipo de Campaña</label>
          <select id="type">
            <option>Todas</option>
            <option>Campaña de Expectativa</option>
            <option>Campaña de Lanzamiento</option>
            <option>Campaña de Mantenimiento</option>
            <option>Campaña de Venta Fuerte</option>
            <option>Campaña de Propaganda</option>
            <option>Campaña Social</option>
            <option>Campaña de Patrocinio</option>
          </select>
        </div>

        <div class="filter-item">
          <label for="status">Estado</label>
          <select id="status">
            <option>Todos</option>
            <option>Activa</option>
            <option>Cancelada</option>
            <option>Inactiva</option>
          </select>
        </div>

        <div class="filter-item">
          <label for="start-date">Fecha de Inicio</label>
          <input type="date" id="start-date" name="start-date">
        </div>
        <div class="filter-item">
          <label for="end-date">Fecha de Finalización</label>
          <input type="date" id="end-date" name="end-date">
        </div>
      </div>
    </div>

    <!-- Contenedor de lista de campañas -->
    <div class="campaigns-table-container">
      <h2>Lista de Campañas</h2>
      <div class="campaigns-table">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Estado</th>
              <th>Fecha de Inicio</th>
              <th>Fecha de Fin</th>
              <th>Presupuesto</th>
              <th>Impacto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Promoción Verano</td>
              <td>Activa</td>
              <td>01/01/2025</td>
              <td>31/01/2025</td>
              <td>$10,000 USD</td>
              <td>50,000 clics / 1,200 conversiones</td>
            </tr>
            <tr>
              <td>Nuevo Producto</td>
              <td>Activa</td>
              <td>15/02/2025</td>
              <td>28/02/2025</td>
              <td>$15,000 USD</td>
              <td>75,000 clics / 2,500 conversiones</td>
            </tr>
            <tr>
              <td>Campaña Navidad</td>
              <td>Finalizada</td>
              <td>10/12/2025</td>
              <td>26/12/2025</td>
              <td>$5,000 USD</td>
              <td>20,000 clics / 700 conversiones</td>
            </tr>
            <tr>
              <td>Semana Descuentos</td>
              <td>Pendiente</td>
              <td>25/04/2025</td>
              <td>30/04/2025</td>
              <td>$2,500 USD</td>
              <td>10,000 clics / 300 conversiones</td>
            </tr>
            <!-- Agregar más usuarios aquí -->
          </tbody>
        </table>
      </div>

      <!-- Paginación -->
      <div class="pagination">
        <button>Previous</button>
        <span>1</span>
        <button>2</button>
        <button>3</button>
        <button>Next</button>
      </div>

      <div class="search-buttons">
        <button class="clear-button">Limpiar</button>
        <button class="search-button">Buscar</button>
      </div>
    </div>
  </main>
</div>