<div class="all_comments-container">
  <nav class="sidebar">
    <div class="profile" (click)="goToProfile()">
      <img class="profile-pic" src="assets/icons/admin-profile.svg" alt="Admin Profile">
      <span class="profile-name">Admin</span>
    </div>

    <div class="menu-container">
      <ul>

        <li><a (click)="goToDashboard()"><img class="sidebar-icon" src="assets/icons/dashboard-icon.png">Dashboard</a></li>
        <li><a (click)="goToRecipes()"><img class="sidebar-icon" src="assets/icons/recipes-icon.png">Recetas</a></li>
        <li><a (click)="goToComments()"><img class="sidebar-icon" src="assets/icons/administration-icon.png">Administración</a></li>
        <li><a (click)="logout()"><img class="sidebar-icon" src="assets/icons/help-icon.png">Cerrar Sesión</a></li>
      </ul>
    </div>

    <div class="version-info">
      <p>KitchenMate</p> 
      <p>Versión 1.0.0.11</p>
    </div>
  </nav>

  <main class="content">
    <div class="top-bar">
      <input class="search-bar" type="text" placeholder="Búsqueda rápida">
    </div>

    <div class="search_comments-container">
      <div class="tabs">
      <button class="tab" (click)="goToSearchComments()" [ngClass]="{'active': !isSearchActive}">Encontrar comentarios</button>
      <button class="tab" [ngClass]="{'active': isSearchActive}">Todos los comentarios</button>
      </div>
      </div>

         <!-- Contenido principal del componente All comments -->

      <div class="comments_list-container">
        <h2>Comentarios</h2>
        <!-- Categorías de recetas -->
          <div class="comments-options">
              <h3>Halladas: 5611</h3>
            <label><input type="radio" name="category" value="todo"> Todo</label>
            <label><input type="radio" name="category" value="pendientes"> Pendientes</label>
            <label><input type="radio" name="category" value="aprobadas"> Aprobadas</label>
            <label><input type="radio" name="category" value="papelera"> Papelera</label>
            <label><input type="radio" name="category" value="spam"> Spam</label>
            <label><input type="radio" name="category" value="mios"> Míos</label>

          </div>
        </div>


      <!-- Tabla de comentarios -->
       <div class="comments-table-container">
      <div class="comments-table">
        <h3>Hallados: 5611</h3>
        <table>
          <thead>
            <tr>
              <th>Autor</th>
              <th>Comentario</th>
              <th>En respuesta a</th>
              <th>Enviado el</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pablo Piedra</td>
              <td>Respuesta de respuesta</td>
              <td>Crispy Tofu</td>
              <td>Aprobada</td>
            </tr>
            <tr>
              <td>Luisa Quintero</td>
              <td>Respuesta de respuesta</td>
              <td>Calabacín relleno</td>
              <td>Aprobada</td>
            </tr>
            <!-- Agregar más usuarios aquí -->
          </tbody>
        </table>
      </div>
    </div>

       <!-- Paginación -->
       <div class="pagination">
        <button class="previous disabled">Previous</button>
        <span class="page-number active">1</span>
        <button class="page-number">2</button>
        <button class="page-number">3</button>
        <button class="next">Next</button>
      </div>

  
